{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
        <h1>Continuous Integration and Continuous Deployment</h1>
        <h3>Continuous Integration</h3>
            <p class="grw-font">
                Continuous Integration is a software development practice where members of a team integrate their work frequently, usually each person integrates at least daily - leading to multiple integrations per day. Each integration is verified by an automated build. The term 'Continuous Integration' originated with Kent Beck's Extreme Programming development process, as one of its original twelve practices.
            </p>
        <h4>Best practices for Continuous integration</h4>
    <ul>
        <li>Maintain a Single Source Repository.</li>
        <li>Automate the Build.</li>
        <li>Builds should be Self-Testing.</li>
        <li>Every Commit Should Build the Mainline on an Integration Machine</li>
        <li>Fix Broken Builds Immediately.</li>
        <li>Keep the Build Fast.</li>
        <li>Test in a Clone of the Production Environment.</li>
        <li>Make it Easy for Anyone to Get the Latest Executable.</li>
        <li>Automate the Deployment process</li>
    </ul>
    <h3>Continuous Delivery</h3>
    <p>Continuous Delivery (CD) is the process to build, test, configure, and deploy from a build to a production environment. Multiple testing or staging environments create a Release Pipeline to automate the creation of infrastructure and deployment of a new build. Successive environments support progressively longer-running activities of integration, load, and user acceptance testing. Continuous Integration starts the CD process and the pipeline stages each successive environment to the next upon successful completion of tests.</p>
    </div>
    <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">In this article</div>
            <div class="card-body">
            <h4 class="card-title">CI/CD</h4>
            <ul>
                <li>Continuous Integration</li>
                <li>Best Practices</li>
                <li>Continuous Deployment</li>
            </ul>
            </div>
            </div>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">References</div>
            <div class="card-body">
            <h4 class="card-title">Meet the Author</h4>
                <h5>Vinith Sudhir</h5>
                <a href="github.vinith.in">Github</a>
                <a href="cv.vinith.in">Linkedin</a>
                <a href="twitter.vinith.in">Twitter</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}