{% extends "base.html" %}
{% block content %}
    <div class="container">
    <h3>Vinith Sudhir</h3>
    <p>I am a Computer Science lover who loves playing guitar, singing and taking photos. I have a strong creative drive and am inclined towards making things work better while looking good. I also take pride in my problem solving ability.</p>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{ url_for('simple_pages.show', page="git")}}">
                    <img src="{{ url_for('static', filename='images/git.jpg') }}" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="docker")}}">
                    <img src="{{ url_for('static', filename='images/docker.jpg') }}" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('simple_pages.show', page="pyflask")}}">
                    <img src="{{ url_for('static', filename='images/python.jpg') }}" class="d-block w-100" alt="...">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Soundcloud</h5>
                    <h6 class="card-subtitle mb-2 text-muted">My music</h6>
                    <p class="card-text">The music composed by me can be found here</p>
                    <a href="https://soundcloud.com/vineethsudhir" class="card-link">soundcloud profile</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Twitter</h5>
                    <h6 class="card-subtitle mb-2 text-muted">My Opinions</h6>
                    <p class="card-text">I rarely tweet but I like and retweet a lot of interesting tweets.</p>
                    <a href="https://twitter.com/vineeth_sudhir" class="card-link">twitter</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Instagram</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Photos</h6>
                    <p class="card-text">Some of the memories I have made.</p>
                    <a href="insta.vinith.in" class="card-link">Instagram</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}