{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-lg-8">
        <h1>Python/Flask</h1>
            <img src="{{ url_for('static', filename='images/python.jpg') }}" class="d-block w-100" alt="Flask">
            <p class="grw-font">
                The pytest framework makes it easy to write small, readable tests, and can scale to support complex functional testing for applications and libraries. Due to pytest’s detailed assertion introspection, only plain assert statements are used.
            </p>
        <p>We created HTML pages for the website. The main HTML page included a base template containing a navigation bar which has been called by all the other html page. All the pages are located in simple_pages/templates. These pages are styled using bootstrap templates. The prescense of these pages are checked by a python file called simple_pages_test.py located in /test directory. This test file asserts if the pages are present can checks if they are being loaded withot any HTML error.</p>
        <h3>Link to Repository</h3>
        <p><a href="https://github.com/vineethsudhir/cs601_proj1">This</a> link can be used to visit the repository on github</p>
        <h4>Flask</h4>
        <p><a href="https://flask.palletsprojects.com/en/2.0.x/">Flask documentation</a></p>
        <p><a href="https://exploreflask.com/en/latest/blueprints.html">Flask blueprint</a></p>
        <h3>Project Structure</h3>
        <p>/.github folder contains /workflows. In this directory, there are 4 files what link the main branch to the heroku production app and other branches to heroku developement app. The heroku app name, and data such as username and password is stored in these files.</p>
        <p>/app contains 3 folders</p>
        <ul>
            <p>/simple_pages which has html files that are being served</p>
            <p>/static contains scripts, images and stylesheets</p>
            <p>/templates contains base.html which has the navbar stored in it.</p>
            <p>/test contains python files that run the required tests to check the working of the app</p>
            <p>In the root directory there are some extra files that help setup docker, heroku, and other required files.</p>
        </ul>
        </div>
        <div class="col-sm">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">In this article</div>
            <div class="card-body">
            <h4 class="card-title">Python/Flask</h4>
            <ul>
                <li>Link to repository</li>
                <li>Project Structure</li>
            </ul>
            </div>
            </div>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">References</div>
            <div class="card-body">
            <h4 class="card-title">Other useful links</h4>
            <ul>
                <li><a href="https://www.tutorialspoint.com/pytest/pytest_introduction.htm">Pytest</a></li>
                <li><a href="https://flask.palletsprojects.com/en/2.0.x/">Flask documentation</a></li>
            </ul>
            </div>
            </div>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">References</div>
            <div class="card-body">
            <h4 class="card-title">Meet the Author</h4>
                <h5>Vinith Sudhir</h5>
                <a href="github.vinith.in">Github</a>
                <a href="cv.vinith.in">Linkedin</a>
                <a href="twitter.vinith.in">Twitter</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}