{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
        <h1>pylint</h1>
            <p class="grw-font">
                Pylint is a source-code, bug and quality checker for the Python programming language. It is named following a common convention in Python of a "py" prefix, and a nod to the C programming lint program.
            </p>
        <h1>AAA testing</h1>
            <p class="grw-font">
                AAA pattern suggests that we should layout our tests in to 3 sections; Arrange, Act, Assert. Each part is responsible for a specific concern of a test case.
            </p>
        <h3 id="merge">Arrange</h3>
        <p>
            In this section, we perform the setyp and initialization required for the test. This usually involves creating data required for a test case and / or setting up the mocks.
        </p>
        <h3>Act</h3>
        <p>Commits are at the heart of Git usage. You can think of a commit as a snapshot of your project, where a new version of that project is created in the current repository. </p>
        <h3>Assert</h3>
        <p>Git has the ability to tag specific points in a repository’s history as being important. Typically, people use this functionality to mark release points</p>
        </div>
        <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">In this article</div>
            <div class="card-body">
            <h4 class="card-title">pylint</h4>
            <h4 class="card-title">AAA testing</h4>
            <ul>
                <li>Arrange</li>
                <li>Act</li>
                <li>Assert</li>
            </ul>
            </div>
            </div>
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">References</div>
            <div class="card-body">
            <h4 class="card-title">Other useful links</h4>
            <ul>
                <li><a href="https://docs.pylint.org/en/1.6.0/run.html">pylint documentation</a></li>
                <li><a href="https://medium.com/xebia-engineering/unit-testing-aaa-pattern-ab1c08737d53">AAA testing pattern- Medium</a></li>
            </ul>
            </div>
            </div>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">References</div>
            <div class="card-body">
            <h4 class="card-title">Meet the Author</h4>
                <h5>Vinith Sudhir</h5>
                <a href="github.vinith.in">Github</a>
                <a href="cv.vinith.in">Linkedin</a>
                <a href="twitter.vinith.in">Twitter</a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}