{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">
        <h1>Object Oriented Concepts in the calculator app</h1>
            <p>Some of the code snippets demonstrating Objected Oriented Concepts are included below</p>
            <h3>Use of Class for Encapsulation</h3>
            <pre><code>
class Summation(Calculator):
    def calculate_res(self):
        sum_values = 0.0
        for num in self.values_list:
            sum_values = Add.add(num, sum_values)
        return sum_values
            </code></pre>
            <h3>Use of Static Methods</h3>
            <pre><code>
class Add:
    @staticmethod
    def add(num1, num2):
        add_res = num1 + num2
        return add_res
        return add_res
            </code></pre>
            <h3>Abstraction of operations </h3>
            <pre><code>
def add(num_list):
    # Call the static method add to return the sum and set it to the calculator result property
    calculation = Summation.create(num_list)
    return calculation.calculate_res()

            </code></pre>
        </div>
        <div class="col-4">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">In this article</div>
            <div class="card-body">
            <h4 class="card-title">Object Oriented Concepts</h4>
            <ul>
                <li>Class</li>
                <li>Static</li>
                <li>Abstraction</li>
            </ul>
            </div>
            </div>
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">References</div>
            <div class="card-body">
            <h4 class="card-title">Other useful links</h4>
            <ul>
                <li><a href="https://docs.pylint.org/en/1.6.0/run.html">pylint documentation</a></li>
                <li><a href="https://medium.com/xebia-engineering/unit-testing-aaa-pattern-ab1c08737d53">AAA testing pattern- Medium</a></li>
            </ul>
            </div>
            </div>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">References</div>
            <div class="card-body">
            <h4 class="card-title">Meet the Author</h4>
                <h5>Vinith Sudhir</h5>
                <a href="github.vinith.in">Github</a>
                <a href="cv.vinith.in">Linkedin</a>
                <a href="twitter.vinith.in">Twitter</a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}