{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-lg-8">
        <h1>SOLID</h1>
            <img src="{{ url_for('static', filename='images/solid.png') }}" class="d-block w-100" alt="SOLID programming">
            <p class="grw-font">
                In software development, Object-Oriented Design plays a crucial role when it comes to writing flexible, scalable, maintainable, and reusable code. There are so many benefits of using OOD but every developer should also have the knowledge of the SOLID principle for good object-oriented design in programming. The SOLID principle was introduced by Robert C. Martin, also known as Uncle Bob and it is a coding standard in programming. This principle is an acronym of the five principles which is given below
            </p>
        <h3>Single Responsibility Principle</h3>
            <p>This principle states that “a class should have only one reason to change” which means every class should have a single responsibility or single job or single purpose. Take the example of developing software. The task is divided into different members doing different things as front-end designers do design, the tester does testing and backend developer takes care of backend development part then we can say that everyone has a single job or responsibility.</p>
            <p>Most of the time it happens that when programmers have to add features or new behavior they implement everything into the existing class which is completely wrong. It makes their code lengthy, complex and consumes time when later something needs to be modified. Use layers in your application and break God classes into smaller classes or modules.</p>
            <pre><code>class Add:
    @staticmethod
    def add(num1, num2):
        add_res = num1 + num2
        return add_res
        return add_res</code></pre>
        <h3>Open/Closed Principle</h3>
            <p>This principle states that “software entities (classes, modules, functions, etc.) should be open for extension, but closed for modification” which means you should be able to extend a class behavior, without modifying it.</p>
            <p>Suppose developer A needs to release an update for a library or framework and developer B wants some modification or add some feature on that then developer B is allowed to extend the existing class created by developer A but developer B is not supposed to modify the class directly. Using this principle separates the existing code from the modified code so it provides better stability, maintainability and minimizes changes as in your code.</p>
            <pre><code>class Add:
    @staticmethod
    def add(num1, num2):
        add_res = num1 + num2
        return add_res
        return add_res</code></pre>
            <p>As we can see in the above example, the classes contain static method which close current functionalities for modifications but new methods can be added to add features</p>
        <h3>Liskov’s Substitution Principle</h3>
            <p>The principle was introduced by Barbara Liskov in 1987 and according to this principle “Derived or child classes must be substitutable for their base or parent classes“. This principle ensures that any class that is the child of a parent class should be usable in place of its parent without any unexpected behavior.</p>
            <p>You can understand it in a way that a farmer’s son should inherit farming skills from his father and should be able to replace his father if needed. If the son wants to become a farmer then he can replace his father but if he wants to become a cricketer then definitely the son can’t replace his father even though they both belong to the same family hierarchy.</p>
            <p>One of the classic examples of this principle is a rectangle having four sides. A rectangle’s height can be any value and width can be any value. A square is a rectangle with equal width and height. So we can say that we can extend the properties of the rectangle class into square class. In order to do that you need to swap the child (square) class with parent (rectangle) class to fit the definition of a square having four equal sides but a derived class does not affect the behavior of the parent class so if you will do that it will violate the Liskov Substitution Principle.</p>
            <pre><code>from calculator.operations import Add, Sub, Mul, Div
class Calculator:
    """ The Base abstract class for calculation"""

    num_list = []

    def __init__(self, num_list):
        """constructor for calculation class"""
        self.num_list = num_list
        self.values_list = Calculator.float_conversion(num_list)

    @classmethod
    def create(cls, num_list):
        return cls(num_list)</code></pre>
            <p>In the above example, we are using the child class to use the functionality of the parent class</p>
        <h3>Interface Segregation Principle</h3>
            <p>This principle is the first principle that applies to Interfaces instead of classes in SOLID and it is similar to the single responsibility principle. It states that “do not force any client to implement an interface which is irrelevant to them“. Here your main goal is to focus on avoiding fat interface and give preference to many small client-specific interfaces. You should prefer many client interfaces rather than one general interface and each interface should have a specific responsibility.</p>
            <p>Suppose if you enter a restaurant and you are pure vegan. The waiter in that restaurant gave you the menu card which includes vegan items, non-vegan items, drinks, and sweets. In this case, as a customer, you should have a menu card which includes only vegan items, not everything which you don’t eat in your food. Here the menu should be different for different types of customers. The common or general menu card for everyone can be divided into multiple cards instead of just one. Using this principle helps in reducing the side effects and frequency of required changes.</p>
            <p>In our calculator program, to do an operation on the calculator, addition for example, we do not have to import the  functionality for any operation other than addition.</p>
        <h3>Dependency Inversion Principle</h3>
            <ul>
                <li>High-level modules/classes should not depend on low-level modules/classes. Both should depend upon abstractions.</li>
                <li>Abstractions should not depend upon details. Details should depend upon abstractions.</li>
            </ul>
            <p>The above lines simply state that if a high module or class will be dependent more on low-level modules or class then your code would have tight coupling and if you will try to make a change in one class it can break another class which is risky at the production level. So always try to make classes loosely coupled as much as you can and you can achieve this through abstraction. The main motive of this principle is decoupling the dependencies so if class A changes the class B doesn’t need to care or know about the changes.</p>
        </div>
        <div class="col-sm">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">In this article</div>
            <div class="card-body">
            <h4 class="card-title">SOLID</h4>
            <ul>
                <li>Single Responsibility Principle</li>
                <li>Open/Closed Principle</li>
                <li>Liskov’s Substitution Principle</li>
                <li>Interface Segregation Principle</li>
                <li>Dependency Inversion Principle</li>
            </ul>
            </div>
            </div>
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">References</div>
            <div class="card-body">
            <h4 class="card-title">Other useful links</h4>
            <ul>
                <li><a href="https://www.geeksforgeeks.org/solid-principle-in-programming-understand-with-real-life-examples/">Geeks for Geeks</a></li>
                <li><a href="https://education.github.com/git-cheat-sheet-education.pdf">Git cheetsheet</a></li>
            </ul>
            </div>
            </div>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">References</div>
            <div class="card-body">
            <h4 class="card-title">Meet the Author</h4>
                <h5>Vinith Sudhir</h5>
                <a href="github.vinith.in">Github</a>
                <a href="cv.vinith.in">Linkedin</a>
                <a href="twitter.vinith.in">Twitter</a>
            </div>
            </div>
        </div>
    </div>

{% endblock %}